In [2]:
import pandas as pd

In [5]:
airports = pd.DataFrame([
    ['Seatle-Tacoma', 'Texas', 'USA'],
    ['Da', 'Dallas', 'USA'],
    ['Hethrow', 'London', 'UK'],
    ['Narita', 'Tokyo', 'Japan']
],
    columns= ['Name', 'City', 'Country'])

In [6]:
airports['City']

0     Texas
1    Dallas
2    London
3     Tokyo
Name: City, dtype: object