In [6]:
import pandas as pd

In [7]:
delays_df = pd.read_csv('C:\shemies\E_Drive\python\jptr py\lots_of_flight_data.csv')
delays_df.shape

(300000, 16)

In [8]:
delays_df.dropna(inplace = True)

In [9]:
X = delays_df.loc[:,['DISTANCE','CRS_ELAPSED_TIME']]
X.head()

   DISTANCE  CRS_ELAPSED_TIME
0      1670               225
1      1670               225
2       580               105
3       580               105
4       580               100

In [10]:
y = delays_df.loc[:,['ARR_DELAY']]
y.head()

   ARR_DELAY
0      -17.0
1      -25.0
2      -13.0
3      -12.0
4       -7.0

In [11]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.3,random_state = 42)

In [12]:
X_train.shape

(207082, 2)

In [13]:
X_test.shape

(88750, 2)

In [14]:
# linear regression training

In [15]:
from sklearn.linear_model import LinearRegression

regressor = LinearRegression()
regressor.fit(X_train, y_train)

LinearRegression()

In [16]:
y_pred = regressor.predict(X_test)
y_pred

array([[3.47739078],
       [5.89055919],
       [4.33288464],
       ...,
       [5.84678979],
       [6.05195889],
       [5.66255414]])

In [17]:
y_test

        ARR_DELAY
291483       -5.0
98997       -12.0
23454        -9.0
110802      -14.0
49449       -20.0
...           ...
209898      -20.0
22210        -9.0
165727       -6.0
260838      -33.0
192546        0.0

[88750 rows x 1 columns]

In [18]:
from sklearn import metrics
import numpy as np

In [20]:
# mean square error
print('Mean square error = ', metrics.mean_squared_error(y_test, y_pred))

# Root mean squared error
print('RMSE = ', np.sqrt(metrics.mean_squared_error(y_test, y_pred)))

Mean square error =  2250.4445141530855
RMSE =  47.4388502617115

In [21]:
# Mean Absolute Error
print('MAE =', metrics.median_absolute_error(y_test, y_pred))

MAE = 15.795707900647768

# R squred

In [22]:
print('R squred =', metrics.r2_score(y_test, y_pred))

R squred = 9.631088846373537e-05

In [24]:
type(y_pred)

numpy.ndarray

In [25]:
type(y_test)

pandas.core.frame.DataFrame

In [26]:
y_pred_df = pd.DataFrame(y_pred)
y_pred_df.head()

          0
0  3.477391
1  5.890559
2  4.332885
3  3.447476
4  5.072394

plotting charts

In [ ]:
import matplotlib.